:root {
	--color-shadow: rgb(204 177 161 / 60%);
}
body {
	overflow-x: hidden;
}

article p{
	/* 行间距 */
	line-height: 2.2rem;
	font-size: 17px;
	color: #2e405b;
	/* 字体描边-- */
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

}

article figure {
	font-size: 1rem;
}

article img{
	/* 居中图片 */
	display: block;
    margin: 0 auto;
	width: 80%;
	height: 80%;
	box-shadow: 0px 0px 10px rgb( 35, 39, 46, 0.6);
}

article img{
	/* 行间距 */
	line-height: 2.2rem;
	font-size: 17px;
}

#nexmoe-content .nexmoe-post-footer {
	background-color: transparent;
}

iframe {
	width: 100%!important;
}

article ul li {
    line-height: 1.5rem;
}